<!DOCTYPE html>
<html>

<head>
  <title>FORZA MOTORSPORT DASHBOARD</title>
  <script>

          // Function to update the color of the box based on currentEngineRpm


    document.addEventListener('DOMContentLoaded', function () {
      var ws = new WebSocket('ws://localhost:4567/websocket');

      ws.onmessage = function (event) {
        var data = JSON.parse(event.data);

        // Update the page content with the new data
        document.getElementById('isRaceOn').textContent = data.is_race_on;
        document.getElementById('timeStampMS').textContent = data.timestamp_ms;
        document.getElementById('engineMaxRpm').textContent = data.engine_max_rpm.toFixed(2);
        document.getElementById('engineIdleRpm').textContent = data.engine_idle_rpm.toFixed(2);
        document.getElementById('currentEngineRpm').textContent = data.current_engine_rpm.toFixed(2);
        document.getElementById('accelerationX').textContent = data.acceleration_x.toFixed(2);
        document.getElementById('accelerationY').textContent = data.acceleration_y.toFixed(2);
        document.getElementById('accelerationZ').textContent = data.acceleration_z.toFixed(2);

        document.getElementById('colorBox').style.width = data.current_engine_rpm * .005 + "%";

        if (data.current_engine_rpm > 7800) {
        document.getElementById('colorBox').style.backgroundColor = 'red';
        }

        if (data.current_engine_rpm < 7700) {
        document.getElementById('colorBox').style.backgroundColor = 'green';
        }


        document.getElementById('velocityX').textContent = data.velocity_x.toFixed(2);
        document.getElementById('velocityY').textContent = data.velocity_y.toFixed(2);
        document.getElementById('velocityZ').textContent = data.velocity_z.toFixed(2);

        document.getElementById('angularVelocityX').textContent = data.angular_velocity_x.toFixed(2);
        document.getElementById('angularVelocityY').textContent = data.angular_velocity_y.toFixed(2);
        document.getElementById('angularVelocityZ').textContent = data.angular_velocity_z.toFixed(2);

        document.getElementById('yaw').textContent = data.yaw.toFixed(2);
        document.getElementById('pitch').textContent = data.pitch.toFixed(2);
        document.getElementById('roll').textContent = data.roll.toFixed(2);

        // Continue with the rest of the variables
        document.getElementById('normalizedSuspensionTravelFrontLeft').textContent = data.normalized_suspension_travel_front_left.toFixed(2);
        document.getElementById('normalizedSuspensionTravelFrontRight').textContent = data.normalized_suspension_travel_front_right.toFixed(2);
        document.getElementById('normalizedSuspensionTravelRearLeft').textContent = data.normalized_suspension_travel_rear_left.toFixed(2);
        document.getElementById('normalizedSuspensionTravelRearRight').textContent = data.normalized_suspension_travel_rear_right.toFixed(2);

        document.getElementById('tireSlipRatioFrontLeft').textContent = data.tire_slip_ratio_front_left.toFixed(2);
        document.getElementById('tireSlipRatioFrontRight').textContent = data.tire_slip_ratio_front_right.toFixed(2);
        document.getElementById('tireSlipRatioRearLeft').textContent = data.tire_slip_ratio_rear_left.toFixed(2);
        document.getElementById('tireSlipRatioRearRight').textContent = data.tire_slip_ratio_rear_right.toFixed(2);

        document.getElementById('wheelRotationSpeedFrontLeft').textContent = data.wheel_rotation_speed_front_left.toFixed(2);
        document.getElementById('wheelRotationSpeedFrontRight').textContent = data.wheel_rotation_speed_front_right.toFixed(2);
        document.getElementById('wheelRotationSpeedRearLeft').textContent = data.wheel_rotation_speed_rear_left.toFixed(2);
        document.getElementById('wheelRotationSpeedRearRight').textContent = data.wheel_rotation_speed_rear_right.toFixed(2);

        document.getElementById('wheelOnRumbleStripFrontLeft').textContent = data.wheel_on_rumble_strip_front_left;
        document.getElementById('wheelOnRumbleStripFrontRight').textContent = data.wheel_on_rumble_strip_front_right;
        document.getElementById('wheelOnRumbleStripRearLeft').textContent = data.wheel_on_rumble_strip_rear_left;
        document.getElementById('wheelOnRumbleStripRearRight').textContent = data.wheel_on_rumble_strip_rear_right;

        document.getElementById('wheelInPuddleDepthFrontLeft').textContent = data.wheel_in_puddle_depth_front_left.toFixed(2);
        document.getElementById('wheelInPuddleDepthFrontRight').textContent = data.wheel_in_puddle_depth_front_right.toFixed(2);
        document.getElementById('wheelInPuddleDepthRearLeft').textContent = data.wheel_in_puddle_depth_rear_left.toFixed(2);
        document.getElementById('wheelInPuddleDepthRearRight').textContent = data.wheel_in_puddle_depth_rear_right.toFixed(2);

        document.getElementById('surfaceRumbleFrontLeft').textContent = data.surface_rumble_front_left.toFixed(2);
        document.getElementById('surfaceRumbleFrontRight').textContent = data.surface_rumble_front_right.toFixed(2);
        document.getElementById('surfaceRumbleRearLeft').textContent = data.surface_rumble_rear_left.toFixed(2);
        document.getElementById('surfaceRumbleRearRight').textContent = data.surface_rumble_rear_right.toFixed(2);

        document.getElementById('tireSlipAngleFrontLeft').textContent = data.tire_slip_angle_front_left.toFixed(2);
        document.getElementById('tireSlipAngleFrontRight').textContent = data.tire_slip_angle_front_right.toFixed(2);
        document.getElementById('tireSlipAngleRearLeft').textContent = data.tire_slip_angle_rear_left.toFixed(2);
        document.getElementById('tireSlipAngleRearRight').textContent = data.tire_slip_angle_rear_right.toFixed(2);

        document.getElementById('tireCombinedSlipFrontLeft').textContent = data.tire_combined_slip_front_left.toFixed(2);
        document.getElementById('tireCombinedSlipFrontRight').textContent = data.tire_combined_slip_front_right.toFixed(2);
        document.getElementById('tireCombinedSlipRearLeft').textContent = data.tire_combined_slip_rear_left.toFixed(2);
        document.getElementById('tireCombinedSlipRearRight').textContent = data.tire_combined_slip_rear_right.toFixed(2);

        document.getElementById('suspensionTravelMetersFrontLeft').textContent = data.suspension_travel_meters_front_left.toFixed(2);
        document.getElementById('suspensionTravelMetersFrontRight').textContent = data.suspension_travel_meters_front_right.toFixed(2);
        document.getElementById('suspensionTravelMetersRearLeft').textContent = data.suspension_travel_meters_rear_left.toFixed(2);
        document.getElementById('suspensionTravelMetersRearRight').textContent = data.suspension_travel_meters_rear_right.toFixed(2);

        document.getElementById('carOrdinal').textContent = data.car_ordinal;
        document.getElementById('carClass').textContent = data.car_class;
        document.getElementById('carPerformanceIndex').textContent = data.car_performance_index;
        document.getElementById('drivetrainType').textContent = data.drivetrain_type;
        document.getElementById('numCylinders').textContent = data.num_cylinders;

        document.getElementById('positionX').textContent = data.position_x.toFixed(2);
        document.getElementById('positionY').textContent = data.position_y.toFixed(2);
        document.getElementById('positionZ').textContent = data.position_z.toFixed(2);
        document.getElementById('speed').textContent = data.speed.toFixed(2);
        document.getElementById('power').textContent = data.power.toFixed(2);
        document.getElementById('torque').textContent = data.torque.toFixed(2);

        document.getElementById('tireTempFrontLeft').textContent = data.tire_temp_front_left.toFixed(2);
        document.getElementById('tireTempFrontRight').textContent = data.tire_temp_front_right.toFixed(2);
        document.getElementById('tireTempRearLeft').textContent = data.tire_temp_rear_left.toFixed(2);
        document.getElementById('tireTempRearRight').textContent = data.tire_temp_rear_right.toFixed(2);

        document.getElementById('boost').textContent = data.boost.toFixed(2);
        document.getElementById('fuel').textContent = data.fuel.toFixed(2);
        document.getElementById('distanceTraveled').textContent = data.distance_traveled.toFixed(2);
        document.getElementById('bestLap').textContent = data.best_lap.toFixed(2);
        document.getElementById('lastLap').textContent = data.last_lap.toFixed(2);
        document.getElementById('currentLap').textContent = data.current_lap.toFixed(2);
        document.getElementById('currentRaceTime').textContent = data.current_race_time.toFixed(2);
        document.getElementById('lapNumber').textContent = data.lap_number;
        document.getElementById('racePosition').textContent = data.race_position;
        document.getElementById('accel').textContent = data.accel;
        document.getElementById('brake').textContent = data.brake;
        document.getElementById('clutch').textContent = data.clutch;
        document.getElementById('handBrake').textContent = data.hand_brake;
        document.getElementById('gear').textContent = data.gear;
        document.getElementById('steer').textContent = data.steer;
        document.getElementById('normalizedDrivingLine').textContent = data.normalized_driving_line;
        document.getElementById('normalizedAIBrakeDifference').textContent = data.normalized_aibrake_difference;

        document.getElementById('tireWearFrontLeft').textContent = data.tire_wear_front_left.toFixed(2);
        document.getElementById('tireWearFrontRight').textContent = data.tire_wear_front_right.toFixed(2);
        document.getElementById('tireWearRearLeft').textContent = data.tire_wear_rear_left.toFixed(2);
        document.getElementById('tireWearRearRight').textContent = data.tire_wear_rear_right.toFixed(2);

        document.getElementById('trackOrdinal').textContent = data.track_ordinal;
      };
    });
  </script>
  <link rel="stylesheet" type="text/css" href="/styles/index.css">
</head>

<body>
  <h1>FORZA MOTORSPORT DASHBOARD</h1>
  <div id="colorBox"></div>

  <div class="column-container">
    <div id="col_a">
      <p>
        <span>IsRaceOn: </span>
        <span id="isRaceOn"></span>
      </p>
      <p>
        <span>TimestampMS: </span>
        <span id="timeStampMS"></span>
      </p>
      <p>
        <span>EngineMaxRpm: </span>
        <span id="engineMaxRpm"></span>
      </p>
      <p>
        <span>EngineIdleRpm: </span>
        <span id="engineIdleRpm"></span>
      </p>
      <p>
        <span>CurrentEngineRpm: </span>
        <span id="currentEngineRpm"></span>
      </p>

      <p>
        <span>AccelerationX: </span>
        <span id="accelerationX"></span>
      </p>
      <p>
        <span>AccelerationY: </span>
        <span id="accelerationY"></span>
      </p>
      <p>
        <span>AccelerationZ: </span>
        <span id="accelerationZ"></span>
      </p>

      <p>
        <span>VelocityX: </span>
        <span id="velocityX"></span>
      </p>
      <p>
        <span>VelocityY: </span>
        <span id="velocityY"></span>
      </p>
      <p>
        <span>VelocityZ: </span>
        <span id="velocityZ"></span>
      </p>

      <p>
        <span>AngularVelocityX: </span>
        <span id="angularVelocityX"></span>
      </p>
      <p>
        <span>AngularVelocityY: </span>
        <span id="angularVelocityY"></span>
      </p>
      <p>
        <span>AngularVelocityZ: </span>
        <span id="angularVelocityZ"></span>
      </p>
    </div>

    <div id="col_b">
        <p>
          <span>Yaw: </span>
          <span id="yaw"></span>
        </p>
        <p>
          <span>Pitch: </span>
          <span id="pitch"></span>
        </p>
        <p>
          <span>Roll: </span>
          <span id="roll"></span>
        </p>
        <p>
          <span>NormalizedSuspensionTravelFrontLeft: </span>
          <span id="normalizedSuspensionTravelFrontLeft"></span>
        </p>
        <p>
          <span>NormalizedSuspensionTravelFrontRight: </span>
          <span id="normalizedSuspensionTravelFrontRight"></span>
        </p>
        <p>
          <span>NormalizedSuspensionTravelRearLeft: </span>
          <span id="normalizedSuspensionTravelRearLeft"></span>
        </p>
        <p>
          <span>NormalizedSuspensionTravelRearRight: </span>
          <span id="normalizedSuspensionTravelRearRight"></span>
        </p>

        <p>
          <span>TireSlipRatioFrontLeft: </span>
          <span id="tireSlipRatioFrontLeft"></span>
        </p>
        <p>
          <span>TireSlipRatioFrontRight: </span>
          <span id="tireSlipRatioFrontRight"></span>
        </p>
        <p>
          <span>TireSlipRatioRearLeft: </span>
          <span id="tireSlipRatioRearLeft"></span>
        </p>
        <p>
          <span>TireSlipRatioRearRight: </span>
          <span id="tireSlipRatioRearRight"></span>
        </p>

        <p>
          <span>WheelRotationSpeedFrontLeft: </span>
          <span id="wheelRotationSpeedFrontLeft"></span>
        </p>
        <p>
          <span>WheelRotationSpeedFrontRight: </span>
          <span id="wheelRotationSpeedFrontRight"></span>
        </p>
        <p>
          <span>WheelRotationSpeedRearLeft: </span>
          <span id="wheelRotationSpeedRearLeft"></span>
        </p>
        <p>
          <span>WheelRotationSpeedRearRight: </span>
          <span id="wheelRotationSpeedRearRight"></span>
        </p>

        <p>
          <span>WheelOnRumbleStripFrontLeft: </span>
          <span id="wheelOnRumbleStripFrontLeft"></span>
        </p>
        <p>
          <span>WheelOnRumbleStripFrontRight: </span>
          <span id="wheelOnRumbleStripFrontRight"></span>
        </p>
        <p>
          <span>WheelOnRumbleStripRearLeft: </span>
          <span id="wheelOnRumbleStripRearLeft"></span>
        </p>
        <p>
          <span>WheelOnRumbleStripRearRight: </span>
          <span id="wheelOnRumbleStripRearRight"></span>
        </p>
    </div>
    <div id="col_c">
        <p>
          <span>WheelInPuddleDepthFrontLeft: </span>
          <span id="wheelInPuddleDepthFrontLeft"></span>
        </p>
        <p>
          <span>WheelInPuddleDepthFrontRight: </span>
          <span id="wheelInPuddleDepthFrontRight"></span>
        </p>
        <p>
          <span>WheelInPuddleDepthRearLeft: </span>
          <span id="wheelInPuddleDepthRearLeft"></span>
        </p>
        <p>
          <span>WheelInPuddleDepthRearRight: </span>
          <span id="wheelInPuddleDepthRearRight"></span>
        </p>

        <p>
          <span>SurfaceRumbleFrontLeft: </span>
          <span id="surfaceRumbleFrontLeft"></span>
        </p>
        <p>
          <span>SurfaceRumbleFrontRight: </span>
          <span id="surfaceRumbleFrontRight"></span>
        </p>
        <p>
          <span>SurfaceRumbleRearLeft: </span>
          <span id="surfaceRumbleRearLeft"></span>
        </p>
        <p>
          <span>SurfaceRumbleRearRight: </span>
          <span id="surfaceRumbleRearRight"></span>
        </p>

        <p>
          <span>TireSlipAngleFrontLeft: </span>
          <span id="tireSlipAngleFrontLeft"></span>
        </p>
        <p>
          <span>TireSlipAngleFrontRight: </span>
          <span id="tireSlipAngleFrontRight"></span>
        </p>
        <p>
          <span>TireSlipAngleRearLeft: </span>
          <span id="tireSlipAngleRearLeft"></span>
        </p>
        <p>
          <span>TireSlipAngleRearRight: </span>
          <span id="tireSlipAngleRearRight"></span>
        </p>

        <p>
          <span>TireCombinedSlipFrontLeft: </span>
          <span id="tireCombinedSlipFrontLeft"></span>
        </p>
        <p>
          <span>TireCombinedSlipFrontRight: </span>
          <span id="tireCombinedSlipFrontRight"></span>
        </p>
        <p>
          <span>TireCombinedSlipRearLeft: </span>
          <span id="tireCombinedSlipRearLeft"></span>
        </p>
        <p>
          <span>TireCombinedSlipRearRight: </span>
          <span id="tireCombinedSlipRearRight"></span>
        </p>

        <p>
          <span>SuspensionTravelMetersFrontLeft: </span>
          <span id="suspensionTravelMetersFrontLeft"></span>
        </p>
        <p>
          <span>SuspensionTravelMetersFrontRight: </span>
          <span id="suspensionTravelMetersFrontRight"></span>
        </p>
        <p>
          <span>SuspensionTravelMetersRearLeft: </span>
          <span id="suspensionTravelMetersRearLeft"></span>
        </p>
        <p>
          <span>SuspensionTravelMetersRearRight: </span>
          <span id="suspensionTravelMetersRearRight"></span>
        </p>
    </div>
    <div id="col_d">
        <p>
          <span>CarOrdinal: </span>
          <span id="carOrdinal"></span>
        </p>
        <p>
          <span>CarClass: </span>
          <span id="carClass"></span>
        </p>
        <p>
          <span>CarPerformanceIndex: </span>
          <span id="carPerformanceIndex"></span>
        </p>
        <p>
          <span>DrivetrainType: </span>
          <span id="drivetrainType"></span>
        </p>
        <p>
          <span>NumCylinders: </span>
          <span id="numCylinders"></span>
        </p>

        <p>
          <span>PositionX: </span>
          <span id="positionX"></span>
        </p>
        <p>
          <span>PositionY: </span>
          <span id="positionY"></span>
        </p>
        <p>
          <span>PositionZ: </span>
          <span id="positionZ"></span>
        </p>
        <p>
          <span>Speed: </span>
          <span id="speed"></span>
        </p>
        <p>
          <span>Power: </span>
          <span id="power"></span>
        </p>
        <p>
          <span>Torque: </span>
          <span id="torque"></span>
        </p>

        <p>
          <span>TireTempFrontLeft: </span>
          <span id="tireTempFrontLeft"></span>
        </p>
        <p>
          <span>TireTempFrontRight: </span>
          <span id="tireTempFrontRight"></span>
        </p>
        <p>
          <span>TireTempRearLeft: </span>
          <span id="tireTempRearLeft"></span>
        </p>
        <p>
          <span>TireTempRearRight: </span>
          <span id="tireTempRearRight"></span>
        </p>
    </div>
    <div id="col_e">
        <p>
          <span>Boost: </span>
          <span id="boost"></span>
        </p>
        <p>
          <span>Fuel: </span>
          <span id="fuel"></span>
        </p>
        <p>
          <span>DistanceTraveled: </span>
          <span id="distanceTraveled"></span>
        </p>
        <p>
          <span>BestLap: </span>
          <span id="bestLap"></span>
        </p>
        <p>
          <span>LastLap: </span>
          <span id="lastLap"></span>
        </p>
        <p>
          <span>CurrentLap: </span>
          <span id="currentLap"></span>
        </p>
        <p>
          <span>CurrentRaceTime: </span>
          <span id="currentRaceTime"></span>
        </p>
        <p>
          <span>LapNumber: </span>
          <span id="lapNumber"></span>
        </p>
        <p>
          <span>RacePosition: </span>
          <span id="racePosition"></span>
        </p>
        <p>
          <span>Accel: </span>
          <span id="accel"></span>
        </p>
        <p>
          <span>Brake: </span>
          <span id="brake"></span>
        </p>
        <p>
          <span>Clutch: </span>
          <span id="clutch"></span>
        </p>
        <p>
          <span>HandBrake: </span>
          <span id="handBrake"></span>
        </p>
        <p>
          <span>Gear: </span>
          <span id="gear"></span>
        </p>
        <p>
          <span>Steer: </span>
          <span id="steer"></span>
        </p>
        <p>
          <span>NormalizedDrivingLine: </span>
          <span id="normalizedDrivingLine"></span>
        </p>
        <p>
          <span>NormalizedAIBrakeDifference: </span>
          <span id="normalizedAIBrakeDifference"></span>
        </p>

        <p>
          <span>TireWearFrontLeft: </span>
          <span id="tireWearFrontLeft"></span>
        </p>
        <p>
          <span>TireWearFrontRight: </span>
          <span id="tireWearFrontRight"></span>
        </p>
        <p>
          <span>TireWearRearLeft: </span>
          <span id="tireWearRearLeft"></span>
        </p>
        <p>
          <span>TireWearRearRight: </span>
          <span id="tireWearRearRight"></span>
        </p>

        <p>
          <span>TrackOrdinal: </span>
          <span id="trackOrdinal"></span>
        </p>
    </div>
  </div>

</body>

</html>
